<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Debt Consolidation Facility Eligibility Prediction</title>
</head>
<body>
  
  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Debt Consolidation Facility Status
          <br class="hidden lg:inline-block">Prognostication
        </h1>
        <p class="mb-8 leading-relaxed">The system will analyze the financial data and credit history of the customer to determine whether they meet the eligibility criteria for a debt consolidation facility.</p>
        
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="/static/11.jpg">
      </div>
    </div>
  </section>
      
      <form action = "/predict/" method="post">
        <section class="text-gray-400 bg-gray-900 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Welcome to DebtEase Mate!</h1>
              <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Enter the relevant values to predict the debt consolidation facility eligibility</p>
            </div>
            <div class="relative sm:mb-0 flex-grow w-full">
                <label for="Gender" class="leading-7 text-sm text-gray-400">Gender ( Male=1 / Female=0 )</label>
                <input type="text" id="Gender" name="Gender" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
                <label for="Married" class="leading-7 text-sm text-gray-400">Married ( Yes=1 / No=0 )</label>
                <input type="text" id="Married" name="Married" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
                <label for="Dependents" class="leading-7 text-sm text-gray-400">No. of Dependents ( 0, 1, 2, 3 )</label>
                <input type="text" id="Dependents" name="Dependents" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="Education" class="leading-7 text-sm text-gray-400">Education ( Graduate=0 / Not Graduate=1 )</label>
              <input type="text" id="Education" name="Education" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
            <label for="SelfEmployed" class="leading-7 text-sm text-gray-400">Self Employed ( Yes=1 / No=0 )</label>
            <input type="text" id="SelfEmployed" name="SelfEmployed" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="ApplicantIncome" class="leading-7 text-sm text-gray-400">Applicant Income</label>
              <input type="text" id="ApplicantIncome" name="ApplicantIncome" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>  
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="CoapplicantIncome" class="leading-7 text-sm text-gray-400">Coapplicant Income</label>
              <input type="text" id="CoapplicantIncome" name="CoapplicantIncome" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>  
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="DebtConsolidationAmount" class="leading-7 text-sm text-gray-400">Debt Consolidation Amount</label>
              <input type="text" id="DebtConsolidationAmount" name="DebtConsolidationAmount" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="Tenor" class="leading-7 text-sm text-gray-400">Tenor in Months ( 12, 18, 24, 30, 36, 48 )</label>
              <input type="text" id="Tenor" name="Tenor" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="CreditHistory" class="leading-7 text-sm text-gray-400">Credit History ( Yes=1 / No=0 )</label>
              <input type="text" id="CreditHistory" name="CreditHistory" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="PropertyArea" class="leading-7 text-sm text-gray-400">Property Area ( Rural=0 / Semi-Urban=1 / Urban=2 )</label>
              <input type="text" id="PropertyArea" name="PropertyArea" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div> 
            <div> 
            <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Predict</button> 
            </div> 
        </section>   
      
      </form>   
     
</body>
</html>